.App {
  text-align: center;
  display: grid;
  grid-template-rows: 100px 40px auto;
  grid-template-areas: "header" "nav" "main";
}
header {
  grid-area: "header";
  border: 1px solid red;
}
.nav {
  grid-area: "nav";
  border: 1px solid blue;
}
.main {
  grid-area: "main";
  border: 1px solid green;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 10px;
}
.leaflet-container {
  width: 100vw;
  height: 70vh;
  margin: 0;
}
.add-report-form {
  text-align: left;
  display: flex;
  flex-direction: column;
}
label {
  margin: 10px;
}
input {
  margin: 10px;
  padding: 5px;
}
.form-button {
  margin: 5px;
  padding: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
}
.add-report-dropdown {
  width: 25%;
  margin: 10px;
  text-align: center;
}
.add-dropdown-label {
  margin: 10px;
}
