.App {
  text-align: center;
  display: grid;
  grid-template-rows: 90px 40px auto;
  grid-template-areas: "header" "nav" "main";
}

.title-header {
  grid-area: "header";
  display: flex;
  justify-content: center;
  border: none;
  align-self: center;
}

.title-h1 {
  font-size: 40px;
}

.nav {
  grid-area: "nav";
  border: none;
  display: flex;
  justify-content: flex-start;
  background-color: black;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-li:hover {
  background-color: #333;
}
.main {
  grid-area: "main";
}
.nav-link {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 10px;
}
.p-choose-area {
  font-size: 18px;
}
.dropdown-areas {
  padding: 12px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.button-dropdown {
  background-color: white;
  padding: 12px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}
:focus {
  outline: none;
}
.button-dropdown:hover {
  background-color: black;
  color: white;
}

.leaflet-container {
  width: 100vw;
  height: 70vh;
  margin: 0;
}
.add-report-form {
  text-align: center;
}
label {
  margin: 10px;
}
input {
  margin: 10px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-button:hover {
  background-color: black;
  color: white;
}

.input-fields {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.tableRow {
  display: table-row;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}
.form-button {
  margin: 5px;
  padding: 12px;
  width: 15%;
  border: 2px solid black;
  background-color: white;
  border-radius: 10px;
  font-size: 16px;
}
.forecast-table {
  display: table;
  border-spacing: 15px;
  text-align: left;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 15px;
}
